@charset "UTF-8";
.dropload-up,
.dropload-down
{
    font-size: 12px;

    position: relative;

    overflow: hidden;

    height: 0;

    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.dropload-down
{
    height: 50px;
}
.dropload-refresh,
.dropload-update,
.dropload-load,
.dropload-noData
{
    line-height: 50px;

    height: 50px;

    text-align: center;
}
.dropload-load .loading
{
    display: inline-block;

    width: 15px;
    height: 15px;
    margin: 6px;

    -webkit-animation: rotate .75s linear infinite;
            animation: rotate .75s linear infinite;
    vertical-align: middle;

    border: 2px solid #666;
    border-bottom-color: transparent;
    border-radius: 100%;
}
@-webkit-keyframes rotate
{
    0%
    {
        -webkit-transform: rotate(0deg);
    }
    50%
    {
        -webkit-transform: rotate(180deg);
    }
    100%
    {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    50%
    {
        transform: rotate(180deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
