@charset "UTF-8";
@import "reset";
@import "mixins";
@import "variable";
@import "common";
@import "button";
@import "footer";
.contact {
    display: block;
    @include flexbox;
    @include vertical-layout(center);
    background: #fff;
    margin-bottom: 0.30rem;
    padding: 0.30rem 0.20rem;
    .contact-text {
        @include flex(1);
        margin-right: 0.30rem;
        line-height: 1.428;
        h3 {
            font-weight: normal;
            font-size: 0.32rem;
            margin-bottom: 0.06rem;
        }
        h4 {
            font-weight: normal;
            color: $sub-font-color;
        }
    }
    .contact-tel {
        color: $main-color;
        img {
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            margin-bottom: 1px;
            margin-right: 0.10rem;
            height: 0.40rem;
        }
    }
}

.contact-btn {
    padding-top: 0.10rem;
    padding-bottom: 0.70rem;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
}

.zui-textarea-box {
	background: #fff;
	 padding:0.20rem 0.30rem;
    .zui-textarea {
        width: 100%;
        background: #fff;
        resize: none;
    }
    .word-num{
    	text-align: right;
    }
}