@charset "UTF-8";
@import "reset";
@import "mixins";
@import "variable";
@import "common";
@import "button";
@import "dropload";
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    @include flexbox;
    text-align: center;
    .nav {
        display: block;
        width: 0;
        @include flex(1);
        @include flexbox;
        @include vertical-layout(center);
        @include horizontal-layout(center);
        height: 1.0rem;
        color: $sub-font-color;
        font-size: 0.32rem;
        &.active {
            color: $main-color;
            span {
                border-bottom: 2px solid $main-color;
                display: inline-block;
                padding: 0.10rem 0;
                box-sizing: border-box;
            }
        }
    }
}

.container {
    padding-top: 1.0rem;
}

.order {
    margin: 0.30rem 0.20rem;
    background: #fff;
    box-shadow: 0 0 6px #b2b2b2;
    .order-line {
        border-top: 1px dashed #b2b2b2;
        transform: scaleY(0.5);
        -webkit-transform: scaleY(0.5);
    }
    .order-detail {
        display: block;
        padding: 0.20rem 0.30rem;
        color: $sub-font-color;
        .order-top {
            @include flexbox;
            margin-bottom: 0.10rem;
            .order-top-img {
                margin-right: 0.20rem;
                img {
                    display: block;
                    width: 0.90rem;
                    height: 0.90rem;
                }
            }
            .order-top-text {
                @include flex(1);
                h3 {
                    font-weight: normal;
                    font-size: 0.30rem;
                    @include clamp(1);
                    color: $main-font-color;
                }
            }
        }
        .order-item {
            margin-top: 0.10rem;
            line-height: 1.36;
        }
    }
    .order-handle {
        @include flexbox;
        @include horizontal-layout(justify);
        padding: 0.20rem 0.30rem;
        color: $main-color;
    }
}


.order-btn {
    display: inline-block;
    min-width: 1.60rem;
    text-align: center;
    line-height: 1.60;
    border-radius: 0.30rem;
    margin-left: 0.20rem;
    &:first-child{
    	margin-left:0;
    }
    &.cancel {
        color: $main-color;
        border: 1px solid $main-color;
    }
    &.edit {
        color: #fff;
        background: $main-color;
        border: 1px solid $main-color;
    }
    &.see {
        color: #fff;
        background: $main-color;
        border: 1px solid $main-color;
    }
}