@charset "UTF-8";
//slide
.slide {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 3.0rem;
    margin: 0 auto;
}

.slide:after {
    display: block;
    width: 100%;
    padding-top: 50%;
    content: '';
}

.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.slide li:first-child {
    z-index: 1;
}

.slide li img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.slide .dot {
    position: absolute;
    z-index: 5;
    width: 100%;
    text-align: center;
    bottom: 1px;
    bottom: 0.30rem;
}

.slide .dot span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.slide .dot .cur {
    background-color: #fff;
}