@charset "UTF-8";
@import "reset";
@import "mixins";
@import "variable";
@import "common";
@import "swipeSlide";
@import "header";
@import "dropload";
.container {
    padding-top: 1.2rem;
}

.btn {
    background: $main-color;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    font-size: 0.30rem;
}

.append {
    @include flexbox;
    @include vertical-layout(center);
    margin: 0.30rem 0.10rem;
    border: 1px solid #7ecdf8;
    padding: 0.30rem 0.10rem;
    -webkit-box-shadow: 0 0 5px #7ecdf8;
    .zui-cell {
        @include flex(1);
        @include flexbox;
        @include vertical-layout(center);
        margin-right: 0.20rem;
        padding: 0.12rem 0.20rem;
        border: 1px solid #cacaca;
        border-radius: 5px;
        &.zui-cell-b {
            @include flex(1.7);
        }
        .zui-cell-bd {
            @include flex(1);
            .zui-input {
                // vertical-align: middle;
                // margin-top: -2px;
                // margin-bottom: 1px;
                width: 100%;
                font-size: 0.30rem;
            }
        }
        .zui-cell-hd {
            margin-right: 0.12rem;
            img {
                display: block;
                height: 0.42rem;
            }
        }
    }
    .zui-btn-box {
        .btn {
            height: 0.76rem;
            line-height: 0.76rem;
            padding: 0 0.20rem;
        }
    }
}

.zui-t {
    padding: 0 0.40rem;
    text-align: center;
    font-size: 0.28rem;
    color: $sub-font-color;
    .zui-t-m {
        margin-bottom: 0.10rem;
        h3 {
            line-height: 1;
            font-size: 0.40rem;
            font-weight: 500;
        }
        .zui-line {
            width: 0.85rem;
            display: inline-block;
            height: 3px;
            background: #2e6da4;
        }
    }
}

.module {
    padding: 0.30rem 0;
    &:nth-child(even) {
        background: #f3f3f3;
    }
}

.good-list {
    @include clearfix;
    margin-top: 0.30rem;
    .good {
        line-height: 1.60;
        display: block;
        height: 6.5rem;
        font-size: 0.30rem;
        width: 47%;
        margin-left: 2%;
        border: 1px solid #7ecdf8;
        box-sizing: border-box;
        border-radius: 5px;
        color: $main-font-color;
        background: url(/pc/static/images/bg/dp.png) no-repeat right bottom;
        background-size: 100px auto;
        text-align: center;
        float: left;
        margin-bottom: 0.20rem;
        overflow: hidden;
        .good-ps {
            padding: 0.30rem 0.10rem;
            padding-top: 0;
        }
        .good-price {
            padding-top: 0.20rem;
            padding-bottom: 0.10rem;
            font-size: 0.32rem;
        }
        .good-t {
            font-size: 0.32rem;
            height: 0.80rem;
            line-height: 0.80rem;
            border-bottom: 2px dotted #7ecdf8;
            padding: 0 0.30rem;
            color: #7ecdf8;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}

.dp-btn-box {
    .btn {
        @include flexbox;
        @include vertical-layout(center);
        @include horizontal-layout(center);
        padding: 0 0.20rem;
        height: 0.90rem;
        width: 75%;
        margin: 0.30rem auto;
        img {
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            margin-bottom: 1px;
            height: 0.36rem;
            margin-left: 0.15rem;
            margin-right: 0.15rem;
        }
    }
}

.intro {
    margin-top: 0.30rem;
    .intro-img {
        img {
            display: block;
            width: 100%;
        }
    }
    .intro-detail {
        padding: 0.20rem;
        text-align: justify;
        line-height: 1.82;
        font-size: 0.30rem;
        text-indent: 2em;
        .intro-text-img {
            img {
                display: block;
                width: 100%;
            }
        }
    }
}

.zui-rb-list {
    @include flexbox;
    padding: 0.30rem 0.20rem;
    .zui-rb {
        @include flex(1);
        margin-left: 0.20rem;
        &:first-child {
            margin-left: 0;
        }
        img {
            display: block;
            width: 100%;
            height: 1.85rem;
        }
    }
}

.process-img {
    padding: 0.20rem;
    img {
        display: block;
        width: 100%;
    }
}

.zui-order {
    .btn {
        width: 75%;
        line-height: 0.90rem;
        height: 0.90rem;
        text-align: center;
        display: block;
        margin: 0.20rem auto;
    }
}

.zui-zb {
    .zui-date {
        text-align: center;
        a {
            font-size: 15px;
            color: $main-font-color;
            &:hover {
                color: $main-color;
            }
        }
        .date-box {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            padding: 0 40px;
            font-size: 18px;
            .zui-line {
                display: block;
                width: 60px;
                height: 2px;
                background: #2e6da4;
                margin: 5px auto;
            }
        }
    }
    .zb-list {
        @include clearfix;
        .zb {
            display: block;
            float: left;
            width: 47%;
            height: 4.20rem;
            margin-left: 2%;
            margin-top: 0.20rem;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}

#allmap {
    width: 100%;
    height: 4.0rem;
}

.news-list {
    .news {
        @include flexbox;
        padding: 0.20rem;
        border: 1px solid #707070;
        margin: 0.20rem;
        .news-img {
            width: 2.80rem ;
            height: 2.72rem;
            img{
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .news-detail {
            @include flex(1);
            margin-left: 0.20rem;
            h4 {
                color: $main-color;
                font-size: 0.34rem;
                font-weight: normal;
            }
            line-height: 1.62;
            
        }
        .news-detail-t{
            @include clamp(3);
        }
        .news-btn-box {
            margin-top: 0.20rem;
            .btn {
                height:0.60rem;
                line-height:0.60rem;
                display: inline-block;
                text-align: center;
                padding: 0 0.25rem;
            }
        }
    }
}

.news-more {
    text-align: center;
    margin-top: 0.30rem;
    .btn {
        width: 75%;
        line-height: 0.90rem;
        height: 0.90rem;
        text-align: center;
        display: block;
        margin: 0.20rem auto;
    }
}
.footer{
    text-align: center;
    color: #c0c0c0;
    background: #101010;
    padding-top: 0.30rem;
    padding-bottom: 0.20rem;
    line-height: 1.62;
    .a-list{
        margin-bottom: 0.15rem;
        a{
            color: #c0c0c0;
            font-size: 0.28rem;
            border-left: 1px solid #c0c0c0;
            display: inline-block;
            *display: inline;
            *zoom:1;
            padding:0 0.15rem;
            line-height: 1;
            &:first-child{
                border-left:0;
            }
        }
    }
}

.zui-contact{
    .contact-list {
        margin-top: 0.30rem;
        @include clearfix;
        .contact{
            float: left;
            margin-top: 2%;
            text-align: center;
            width: 47%;
            height: 4.0rem;
            border:1px solid #ccc;
            margin-left: 2%;
            padding:0.50rem 0.20rem;
            font-size: 0.30rem;
            box-sizing:border-box;
            color: $sub-font-color;
            h5{
                font-size: 0.32rem;
                color: $main-font-color;
                margin-top: 0.10rem;
                margin-bottom: 0.15rem;
            }
        }
    }
}
.editor{
    text-align: justify;
    line-height: 1.628;
    padding: 0.30rem 0.20rem;
    .editor-t{
        font-size:0.36rem;
        text-align: center;
    }
    .editor-s{
        text-align: center;
        font-size:0.28rem;
        color: $sub-font-color;
        margin:0.25rem 0;
    }
    .editor-d{
        img{
            display: block;
            width: 100%;
        }
    }
}